.header {
    background-color: #FFB8CA;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 502px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
    padding: 32px 32px 0 32px;
    height: 416px;
    }
    @media screen and (min-width: 1200px){
        padding: 40px 16px 0 16px;
        height: 664px;
    }
    & .container {
    position: relative; 
    width: 320px;
    padding: 6px 0 160px 0;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 768px;
        display: flex;
        padding: 0;
    }
    @media screen and (min-width: 1200px) {
        width: 1280px;
    }
    }
    &__logo {
        margin-left: 0;
        margin-bottom: 136px;
        @media screen and (min-width: 768px){
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1200px){
            margin-bottom: 60px;
        }
    }
    &__title{
        font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.15;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            max-width: 200px;
            color: #FFFFFF;
            margin-bottom: 19px;
            text-decoration: none;
            margin-top: 0;
            @media screen and (min-width: 768px){
                font-size: 22px;
                line-height: 1.13;
            }
            @media screen and (min-width: 1200px) {
                margin-bottom: 24px;
                font-size: 38px;
                line-height: 1.16;
                max-width: 277px;
            }
    }
    
    &__title-thumb {
        position: relative;
        z-index: 1;
    }
        &__passion {
            font-size: 48px;
            line-height: 0.96;
            color: #D41443;
        @media screen and (min-width: 768px) {
            font-size: 37px;
            line-height: 1.13;
        }
        @media screen and (min-width: 1200px) {
            font-size: 58px;
            line-height: 0.9;
        }
    }
    &__icecream {
        position: absolute;
        top: 92px;
        left: 117px;
        @media screen and (min-width: 768px) {
            left: 322px;
            top: 48px;
            }
        @media screen and (min-width: 1200px) {
            left: 636px;
            top: 67px;
        }
    }
    &-button{
        margin-bottom: 158px;
    }
    &-button__btn-red{
        width: 62px;
        height: 24px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        text-align: center;
        background-color: #D41443;
        border-radius: 20px;
        color: #FFFFFF;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 1200px){
            font-size: 14px;
            line-height: 1.29;
            width: 107px;
            height: 40px;
        }
        }
        &-button__btn-red:hover , &-button__btn-red:focus {
            background-color:  #C7133E;
        }
    &-button__btn-white {
            width: 83px;
            height: 24px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 1.25;
            text-align: center;
            background-color: #FFFFFF;
            border-radius: 20px;
            color: #D41443;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            @media screen and (min-width: 768px) {
                    margin-bottom: 61px;
                }
            @media screen and (min-width: 1200px){
            font-size: 14px;
            line-height: 1.29;
            width: 138px;
            height: 40px;
            margin-bottom: 108px;
                }
        }
        &-button__btn-white:hover , &-button__btn-white:focus {
            background-color: #ECEBEB;;
        }
.elipse {
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 83px;
        left: 32px;
        width: 346px;
        height: 344px;
        border-radius: 50%;
        background-color: #FFA5BA;
        @media screen and (min-width: 768px){
        left: 234px;
        top: 15px;
        }
        @media screen and (min-width: 1200px){
        width: 534px;
        height: 534px;
        left: 517px;
        top: 18px;
        }
    }
}
.milk { display: none;
    @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 225px;
    left: 0;
    }
    @media screen and (min-width: 1200px) {
    left: 16px;
    top: 388px;
        }
}
&__p{
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    font-size: 8px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);
    // margin-left: 184px;
    width: 114px;
    margin-left: 150px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.41;
        width: 200px;
        margin-left: 224px;
    }
}

&__list{ display: none;
@media screen and (min-width: 768px){
display: list-item;
list-style: none;
text-align: end;
}
&-text{ position: relative;
        font-size: 8px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0em;
        color: #FFFFFF;
        margin-top: 0;
        @media screen and (min-width: 1200px){
    font-size: 14px;
    line-height: 1.29;
            
    }
    &:not(:last-child){
        margin-bottom: 17px;
    }

}
}
&__number{
position: relative;
font-family: titan one;
font-size: 28px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.04em;
z-index: 1;
color: rgba(212, 20, 67, 1);
margin: 0;
&::before {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: -1px;
        right: -5px;
        z-index: -1;
        border-radius: 50%;
        background-color: #FFFFFF;
    
        @media screen and (min-width: 1200px){
            width: 30px;
            height: 30px;
            top:-5px;
            bottom: -10px;
        }
    }
@media screen and (min-width: 1200px){
    font-size: 46px;
    line-height: 1.15;
}
}
&__btn-numbers{
    margin-left: 279px;
    @media screen and (min-width: 1200px){
    margin-left: 120px;
    }
}
.menu-open-btn {
    position: absolute;
    top: 12px;
    right: 27px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: #D41443;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px){
        left: 280px;
        top: 3px;
    }
    @media screen and (min-width: 1200px){
        display: none;
    }
}
.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: #FFFFFF;
}
.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #E17992;
    width: 100vw;
    height: 100vh;
    height: 100%;
    padding-top: 60px;
    width: 320px;
&__link{
    padding-top: 11px;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color:#D41443;
    }
}
&-list__item{
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        border-top: 1px solid #E18298;
        border-bottom: 1px solid #E18298;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-left: 20px;
    }
}
.buy-mob {
    margin: 0 auto;
    display: block;
    width: 209px;
    height: 44px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 22px;
    color: #D41443;
    border: none;
    margin-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
    background-color: #ECEBEB;
}
}
.buy {
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    width: 160px;
    height: 44px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 22px;
    color: #D41443;
    border: none;
    margin-bottom: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
        background-color: #ECEBEB;
    }
    }
    @media screen and (min-width: 1200px)
    {
        margin-bottom: 70px;
    }
}

.header__icon-buy {
    margin-left: 18px;
    fill: #D41443;
}

.arrow {
    display: none;
    @media screen and (min-width: 768px){
    display: block;
    position: absolute;
    right: 97px;
    bottom: -15px;
    }
    @media screen and (min-width: 1200px){
        display: none;
    }
}

.girl {
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 48px;
    bottom: -52px;
    }
    @media screen and (min-width: 1200px) {
        bottom: -90px;
        right: 25px;
    }
}

.eli {
    position: relative;
    z-index: 1;
}
.menu {
    z-index: 1;
    display: none;
    height: 100px;
    @media screen and (min-width: 1200px) { 
        display: block;   
        margin-top: 12px;
    }
    &__list{
        font-size: 16px;
        line-height: 1.31;
        font-weight: 700;
        color: #FFFFFF;
        display: flex;
    }
    &__item {
        width: 100%;
        &:not(:last-child) {
            margin-right: 35px;
            white-space: nowrap;
        }
    }
}
&__link{
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color:#D41443;
    }
}
&__arrow-2{
    display: none;
    margin-left: 224px;
    @media screen and (min-width: 1200px){
        display: block;
    }
}
.current{
    color:#D41443;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}