ul {
    margin: 0;
    padding-left: 0;
}
p, h1, h2, h3, h4, h5 {
    margin: 0;
}
button {
    cursor: pointer;
}
.conteiner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.products {
    
}
.products__slogan {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    margin-top: 80px;
    @media screen and (min-width:768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-top: 40px;
    }
    @media screen and (min-width:1200px) {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        margin-top: 60px;
    }
}
.products__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin: 15px 0 8px 0;
    @media screen and (min-width:768px) {
        font-size: 48px;
        line-height: 1.15;
        margin: 18px 0 16px 0;
    }
    @media screen and (min-width:1200px) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
        margin: 16px 0 0 0;
    }    
}
.products__list {
    list-style: none;
    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 16px;
    }
    @media screen and (min-width:1200px) {
        margin-left: -16px;
    }
}
.products__item {
    width: 100%;
    height: 489px;
    background-color: #FFB8CA;
    border-radius: 24px;
    margin-top: 148px;
    @media screen and (min-width:768px) {
        width: 224px;
        height: 473px;
        margin-top: 154px;
        flex-basis: calc(100% / 3 - 16px);
        margin-left: 16px;
        &:last-child {
            margin-right: 32px;
        }
    }
    @media screen and (min-width:1200px) {
        width: 395px;
        height: 535px;
        margin-top: 258px;
        flex-basis: calc(100% / 3 - 16px);
        margin-left: 32px;
        &:last-child {
            margin-right: 16px;
        }
    }
    &--icecoffee {
        background-color: #F0D1A5;
        margin-top: 140px;
        @media screen and (min-width:768px) {
            width: 224px;
            height: 473px;
            margin-top: 154px;
        }
        @media screen and (min-width:1200px) {
            width: 395px;
            height: 535px;
            margin-top: 258px;
        }
    }
    &--milkshakec {
        background-color: #C2E297;
        margin-top: 140px;
        @media screen and (min-width:768px) {
            width: 224px;
            height: 473px;
            margin-top: 154px;
        }
        @media screen and (min-width:1200px) {
            width: 395px;
            height: 535px;
            margin-top: 258px;
        }
    }
}
.products__card {
    position: relative;
    &--milkshakec {
        margin-bottom: 40px;
        @media screen and (min-width:768px) {
            margin-bottom: 0;
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 280px;
        position: absolute;
        transform: translateY(-50%);
        background-image: url(../images/products/products-pic1-mob-1x.png);
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-pic1-mob-2x.png);
        }
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width:768px) {
            transform: translateY(-138px);
            height: 224px;
            background-image: url(../images/products/products-pic1-tab-1x.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-pic1-tab-2x.png);
            }
        }
        @media screen and (min-width:1200px) {
            transform: translateY(-261px);
            height: 394px;
            background-image: url(../images/products/products-pic1-desk-1x.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-pic1-desk-2x.png);
            }
        }
    }
    &--icecoffee::before {
        background-image: url(../images/products/products-pic2-mob-1x.png);
        width: 100%;
        height: 280px;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-pic2-mob-2x.png);
        }
        @media screen and (min-width:768px) {
            transform: translateY(-138px);
            height: 224px;
            background-image: url(../images/products/products-pic2-tab-1x.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-pic2-tab-2x.png);
            }
        }
        @media screen and (min-width:1200px) {
            transform: translateY(-261px);
            height: 394px;
            background-image: url(../images/products/products-pic2-desk-1x.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-pic2-desk-2x.png);
            }
        }
    }
    &--milkshakec::before {
        background-image: url(../images/products/products-pic3-mob-1x.png);
        width: 100%;
        height: 280px;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-pic3-mob-2x.png);
        }
        @media screen and (min-width:768px) {
            transform: translateY(-138px);
            height: 224px;
            background-image: url(../images/products/products-pic3-tab-1x.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-pic3-tab-2x.png);
            }
        }
        @media screen and (min-width:1200px) {
            transform: translateY(-261px);
            height: 394px;
            background-image: url(../images/products/products-pic3-desk-1x.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-pic3-desk-2x.png);
            }
        }
    }
}
.products__name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 160px;
    @media screen and (min-width:768px) {
        padding-top: 118px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 165px;
    }
    &::after {
        content: "";
        width: 26px;
        height: 6px;
        position: absolute;
        background-image: url(../images/products/group4.svg);
        left: 50%;
        top: 215px;
        transform: translate(-50%, -50%);
        @media screen and (min-width:768px) {
            top: 173px;
        }
        @media screen and (min-width:1200px) {
            top: 231px;
        }
    }
    @media screen and (min-width:768px) {
        font-size: 20px;
        line-height: 1.15;
    }
    @media screen and (min-width:1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
}
.products__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 70px;
    padding: 0 39px 0 41px;
    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: 1.5;
    }
    @media screen and (min-width:1200px) {
        font-size: 16px;
        line-height: 1.75;
    }    
}
.products__btn {
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1200px) {
        margin-top: 60px;
    }
}
.products__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../images/products/arrow-right.svg);
}