@import '~node_modules/modern-normalize/modern-normalize.css';
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: #fff5f6;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 14px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding-bottom: 120px;
    font-size: 16px;
  }
}
.contacts__card-set {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts__card-set {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__card-set {
    margin-bottom: 60px;
  }
}
.contacts__card {
  max-width: 280px;
  max-height: 412px;
  padding: 40px 32px;
  border-radius: 24px;
  border: 1px solid rgb(225, 225, 225);
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .contacts__card:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__card {
    min-width: 224px;
    min-height: 528px;
    margin: 0;
  }
  .contacts__card:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__card {
    min-width: 395px;
    min-height: 538px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__card-inside {
    min-height: 448px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__card-inside {
    min-height: 458px;
  }
}
.contacts__place {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
@media screen and (min-width: 768px) {
  .contacts__place {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}
.contacts__category {
  height: 16px;
  max-width: 130px;
  background-color: rgb(194, 226, 151);
  border-radius: 4px;
  line-height: 22;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 19px;
}
@media screen and (min-width: 768px) {
  .contacts__category {
    height: 28px;
    max-width: 138px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 32px;
  }
}
.contacts__city {
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__city {
    margin-bottom: 12px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__city {
    line-height: 1.88;
  }
}
.contacts__description {
  max-width: 179px;
  line-height: 1.5;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts__description {
    max-width: 159px;
    max-height: 65px;
    line-height: 1.64;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__description {
    max-width: 250px;
    max-height: 50px;
    line-height: 1.81;
  }
}
.contacts .contacts__schedule {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
@media screen and (min-width: 768px) {
  .contacts .contacts__schedule {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}
.contacts .contacts__days {
  line-height: 1.83;
  margin-bottom: 0;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__days {
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__days {
    line-height: 1.88;
  }
}
.contacts .contacts__time {
  line-height: 1.83;
  color: #ffa5ba;
  text-transform: uppercase;
}
.contacts .contacts__time:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__time {
    line-height: 1.86;
    height: 23px;
  }
  .contacts .contacts__time:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__time {
    line-height: 1.88;
    height: 30px;
  }
}
.contacts .contacts__connection {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__connection {
    height: 48px;
  }
}
.contacts .contacts__tel-mail {
  display: block;
  line-height: 1.5;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__tel-mail {
    line-height: 1.86;
    height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__tel-mail {
    line-height: 1.81;
    height: 25px;
  }
}
.contacts .contacts__btn {
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
  }
}
.contacts .contacts__btn-locations {
  display: block;
  margin: 0 auto 10px auto;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: #d41342;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__btn-locations {
    width: 191px;
    margin: 0 15px 0 0;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__btn-locations {
    width: 198px;
  }
}
.contacts .contacts__btn-franchise {
  display: block;
  margin: 0 auto;
  width: 161px;
  height: 44px;
  border-radius: 24px;
  background-color: #ffffff;
  border: none;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.contacts .contacts__btn-franchise:hover, .contacts .contacts__btn-franchise:focus {
  background-color: #ecebeb;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__btn-franchise {
    width: 174px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__btn-franchise {
    width: 180px;
  }
}

.category__cafe {
  width: 80px;
  background-color: rgb(240, 209, 165);
}
@media screen and (min-width: 768px) {
  .category__cafe {
    width: 73px;
  }
}
@media screen and (min-width: 1280px) {
  .category__cafe {
    width: 75px;
  }
}

.contacts__btn-icon {
  margin-left: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__btn-locations > .contacts__btn-icon {
  fill: #ffffff;
}
.contacts__btn-franchise > .contacts__btn-icon {
  fill: #d41443;
}
@media screen and (min-width: 768px) {
  .contacts__btn-icon {
    margin-left: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__btn-icon {
    margin-left: 14px;
  }
.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

h2, h3, p {
  margin: 0%;
}

.is-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.advantages {
  background-color: #FFF5F6;
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .advantages {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    font-size: 16px;
    line-height: 1.76;
  }
}

.advantages__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    font-size: 48px;
    text-transform: none;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 58px;
    margin-bottom: 16px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}

.advantages__item:first-child::before {
  background-image: url(../images/advantages-icon1-1x.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:first-child::before {
    background-image: url(../images/advantages-icon1-2x.png);
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/advantages-icon2-1x.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url(../images/advantages-icon2-2x.png);
  }
}

.advantages__item:last-child::before {
  background-image: url(../images/advantages-icon3-1x.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:last-child::before {
    background-image: url(../images/advantages-icon3-2x.png);
  }
}

.advantages__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 527px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    width: 1141px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantages__item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 288px;
  }
  .advantages__item:hover::before, .advantages__item:focus::before {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}
