<section class="advantages">
    <div class="container">
        <h2 class="is-hidden-title">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <h3 class="advantages__title">721</h3>
                <p>Liters of milk is given by our cows every day. Everything else is stolen by workers.</p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">16kg</h3>
                <p>Juicy berries are eaten by each cow during the day to give delicious milk.</p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">84</h3>
                <p>Our cow has a green COVID-19 certificate. Our customers feel protected.</p>
            </li>
        </ul>
    </div>
</section>