<section class="contacts">
  <div class="container">
    <h2>Contacts</h2>
    <ul>
      <li class="contacts__card">
        <ul>
          <li>
            <p class="contacts__category">Cafe</p>
            <p class="contacts__city">Chicago</p>
            <p class="contacts__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li>
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a class="contacts__tel-mail" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__tel-mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <ul>
          <li>
            <p class="contacts__category">Food truck</p>
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li>
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a class="contacts__tel-mail" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__tel-mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <ul>
          <li>
            <p class="contacts__category">Cafe</p>
            <p class="contacts__city">New York</p>
            <p class="contacts__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li>
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a class="contacts__tel-mail" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__tel-mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div>
      <button type="button">Our Locations</button>
      <button type="button">Franchise</button>
    </div>
  </div>
</section>
