<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__card-set">
      <li class="contacts__card list">
        <ul class="contacts__card-inside">
          <li class="contacts__place list">
            <p class="contacts__category category__cafe">Cafe</p>
            <p class="contacts__city">Chicago</p>
            <p class="contacts__description">
              Unnamed Road, Chicago, IL 60605, USA
            </p>
          </li>
          <li class="contacts__schedule list">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__connection list">
            <a class="contacts__tel-mail link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__tel-mail link"
              href="mailto:noreply@icecream.com"
              >noreply@icecream.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card list">
        <ul class="contacts__card-inside">
          <li class="contacts__place list">
            <p class="contacts__category">Food truck</p>
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__description">
              914 E 31st St, Los Angeles, CA 90011, USA
            </p>
          </li>
          <li class="contacts__schedule list">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__connection list">
            <a class="contacts__tel-mail link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__tel-mail link"
              href="mailto:noreply@icecream.com"
              >noreply@icecream.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card list">
        <ul class="contacts__card-inside">
          <li class="contacts__place list">
            <p class="contacts__category category__cafe">Cafe</p>
            <p class="contacts__city">New York</p>
            <p class="contacts__description">
              14 Washington Square N, New York, NY 10003, USA
            </p>
          </li>
          <li class="contacts__schedule list">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__connection list">
            <a class="contacts__tel-mail link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__tel-mail link"
              href="mailto:noreply@icecream.com"
              >noreply@icecream.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__btn">
      <button class="contacts__btn-locations" type="button" data-locations-open>
        Our Locations
        <svg class="contacts__btn-icon" width="8" height="10">
          <use href="./images/icons.svg#icon-for-btn-white"></use>
        </svg>
      </button>
      <button class="contacts__btn-franchise" type="button" data-franchise-open>
        Franchise
        <svg class="contacts__btn-icon" width="8" height="10">
          <use href="./images/icons.svg#icon-for-btn-red"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="backdrop is-hidden" data-locations>
    <div class="locations">
      <button type="button" class="locations__close" data-locations-close>
        <svg class="locations__close-icon" width="15" height="15">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="locations__title">Our Locations</p>
      <ul class="locations__wrap">
        <li class="locations__card list">
          <p class="locations__place">
            IceCreame in &nbsp;<span class="locations__city">Chicago</span>
          </p>
          <iframe
            class="locations__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.2213705708123!2d-87.61895547963078!3d41.866583417401664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2sua!4v1655147469441!5m2!1sru!2sua"
            width="180"
            height="120"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </li>
        <li class="locations__card list">
          <p class="locations__place">
            IceCreame in &nbsp;<span class="locations__city">Los Angeles</span>
          </p>
          <iframe
            class="locations__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24492.950980349928!2d-118.28677168141306!3d34.025113665551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c87b9d36057b%3A0x3e8ff2ec6b6b1059!2sIce%20Cream%20On%20Wheels%20of%20Los%20Angeles!5e0!3m2!1sru!2sua!4v1655148050298!5m2!1sru!2sua"
            width="180"
            height="120"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </li>
        <li class="locations__card list">
          <p class="locations__place">
            IceCreame in &nbsp;<span class="locations__city">New York</span>
          </p>
          <iframe
            class="locations__map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.379941112113!2d-73.99932058522649!3d40.73166454435041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25981d2757ad3%3A0xa7ce96ef8227cd3a!2sNY%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1655148497696!5m2!1sru!2sua"
            width="180"
            height="120"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </li>
      </ul>
    </div>
  </div>
  <div class="backdrop is-hidden" data-franchise>
    <div class="franchise">
      <button type="button" class="franchise__close" data-franchise-close>
        <svg class="franchise__close-icon" width="15" height="15">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="franchise__wrap">
        <p class="franchise__title">Franchise</p>
        <p class="franchise__location">available in any US state</p>
        <picture>
          <source
            srcset="./images/contacts/franchise-desk-1x.png 1x ./images/contacts/franchise-desk-2x.png 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="./images/contacts/franchise-tab-1x.png 1x ./images/contacts/franchise-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/contacts/franchise-mob-1x.png 1x ./images/contacts/franchise-mob-2x.png 2x"
            media="(min-width:320px)"
          />
          <img
            class="franchise__map"
            src="./images/contacts/franchise-desk-2x.png"
            alt="USA maps"
            width="100%"
          />
        </picture>
        <div class="franchise__contact">
          <p class="franchise__detail">More details:</p>
          <a class="franchise__phone link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
