<section class="header">
    <div class="header__elipse"></div>
    <div class="container">
        <div class="header-logo">
            <a href="" class="header-logo__link">
            <img src="/src/images/logo_x1.png" alt="logo" width="199" height="50">
            <button type="button" class="header-logo__svg"></button>
        </div>
        <h1 class="header__title">ice cream made with <span class="header__passion">passion</span></h1>
        <div class="header-button">
            <button type="button" class="header-button__btn-red">Products</button>
            <button type="button" class="header-button__btn-white">How it's made?</button>
        </div>
    </div>
</section>