<section class="header">
    <div class="container">
        <a href="" class="header-logo__link">
            <img src="/src/images/logo_x1.png" alt="logo" width="199" height="50">
            <button type="button" class="menu-open-btn"><svg class="header__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-menu_40px"></use>
            </svg></button>
        <div class="header__title-thumb">
            <h1 class="header__title">ice cream made with <span class="header__passion">passion</span></h1>
            <button type="button" class="header-button__btn-red">Products</button>
            <button type="button" class="header-button__btn-white">How it's made?</button>
        </div>
        <div class="elipse">
            <img class="header__icecream" src="./images/ice_x1.png" alt="Icecream">
        </div>
    </div>
    <!-- <div class="mob-menu is-hidden">
        <div class="container">
            <div class="mob-menu">
                <button type="button" class="menu-close-btn"><svg class="header__icon" width="14" height="14">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg></button>
                <button type="button" class="buy">Buy now<svg class="header__icon-buy" width="5" height="8">
                    <use href="./images/icons.svg#icon-mob-right"></use>
                </svg></button>
                <ul class="mob-menu-list list">
                    <li class="mob-menu-list__item">Home</li>
                    <li class="mob-menu-list__item">About us</li>
                    <li class="mob-menu-list__item">How it’s made?</li>
                    <li class="mob-menu-list__item">Our products</li>
                    <li class="mob-menu-list__item">Contact</li>
                </ul>
            </div> -->
</section>