<section class="header" id="header">
    <div class="container">
        <div class="header__title-thumb">
            <img src="/src/images/logo_x1.png" class="header__logo" alt="logo" width="199" height="50">
            <h1 class="header__title">ice cream made with <span class="header__passion">passion</span></h1>
            <div class="button_wrapper">
                <a href="#products" class="header-button__btn-red">Products</a>
                <a href="#about" class="header-button__btn-white">How it's made?</a>
            </div>
            <img src="/src/images/arrow-right.png" alt="arrow" class="arrow">
            <p class="header__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et</p>
            <img class="header__arrow-2" src="/src/images/arrow-right-3.png" alt="arrow">
            </div>
        <div class="menu">
                <ul class="menu__list list">
                    <li class="menu__item"><a href="#header" class="header__link current">Home</a></li>
                    <li class="menu__item"><a href="#contacts" class="header__link">About us</a></li>
                    <li class="menu__item"><a href="#about" class="header__link">How it’s made?</a></li>
                    <li class="menu__item"><a href="#products" class="header__link">Our products</a></li>
                    <li class="menu__item"><a href="#footer" class="header__link">Contact</a></li>
                </ul>
        </div>
        <div class="header__btn-numbers">
                <button type="button" class="buy">Buy now<svg class="header__icon-buy" width="5" height="8">
                    <use href="./images/icons.svg#icon-for-btn-red"></use>
                </svg></button>
                <ul class="header__list">
                <li class="header__item"></li>
                <p class="header__number">16</p>
                <p class="header__list-text">cafes</p>
                <div class="small-ellipse"></div>
                <li class="header__item"></li>
                <p class="header__number">25</p>
                <p class="header__list-text">food trucks</p>
                <div class="small-ellipse"></div>
            </ul>
            </div>
            <button type="button" class="menu-open-btn"><svg class="header__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-menu_40px"></use>
            </svg></button>
        <div class="elipse">
            <picture> 
                    <source srcset="/src/images/header/header-icecream-desk-1x.png 1x, 
                    /src/images/header/header-icecream-desk-2x.png 2x"
                    media="(min-width:1280px)"
                    />
                    <source srcset="/src/images/header/header-icecream-tab-1x.png 1x, 
                    /src/images/header/header-icecream-tab-2x.png 2x" 
                    media="(min-width:768px)" />
                    <source srcset="/src/images/header/header-icecream-mob-1x.png 1x, 
                    /src/images/header/header-icecream-mob-2x.png 2x" 
                    media="(min-width:320px)" />
                    <img class="header__icecream" src="/src/images/header/header-icecream-mob-1x.png" alt="Icecream">
                </picture>
        </div>
         <picture> 
                    <source srcset="/src/images/header/header-milk-desk-1x.png 1x, 
                    /src/images/header/header-milk-desk-2x.png 2x"
                    media="(min-width:1280px)"
                    />
                    <source srcset="/src/images/header/header-milk-tab-1x.png 1x, 
                    /src/images/header/header-milk-tab-2x.png 2x" 
                    media="(min-width:768px)" />
                    <img src="/src/images/header/header-milk-tab-1x.png" alt="milk" class="milk">
                </picture>
        <picture> 
                    <source srcset="/src/images/header/header-girl-desk-1x.png 1x, 
                    /src/images/header/header-girl-desk-2x.png 2x"
                    media="(min-width:1280px)"
                    />
                    <source srcset="/src/images/header/header-girl-tab-1x.png 1x, 
                    /src/images/header/header-girl-tab-2x.png 2x" 
                    media="(min-width:768px)" />
                    <img src="/src/images/header/header-girl-tab-1x.png" alt="girl" class="girl">
                </picture>
        </div>
        <div class="mob-menu visually-hidden">
                <button type="button" class="menu-close-btn"><svg class="header__icon" width="30" height="30">
                        <use href="./images/icons.svg#icon-close_40px"></use>
                    </svg></button>
                <button type="button" class="buy-mob">Buy now<svg class="header__icon-buy" width="5" height="8">
                    <use href="./images/icons.svg#icon-for-btn-red"></use>
                </svg></button>
                <ul class="mob-menu-list list">
                    <li class="mob-menu-list__item"><a href="#header" class="mob-menu__link current">Home</a></li>
                    <li class="mob-menu-list__item"><a href="#contacts" class="mob-menu__link">About us</a></li>
                    <li class="mob-menu-list__item"><a href="#about" class="mob-menu__link">How it’s made?</a></li>
                    <li class="mob-menu-list__item"><a href="#products" class="mob-menu__link">Our products</a></li>
                    <li class="mob-menu-list__item"><a href="#footer" class="mob-menu__link">Contact</a></li>
                </ul>
        </div>
</section>
