<section class="customer-reviews">
  <div class="container">
    <div class="reviews-slider">
      <div class="reviews-slider__slide">
        <img
          class="reviews-slider__customer"
          src="./images/customer/customer-pic1-1x.png"
          alt="First customer"
        />
        <div class="reviews-slider__review">
          <div class="reviews-slider__text-wrapper">
            <p class="reviews-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews-slider__name">Emily, Los Angeles</p>
      </div>
      <div class="reviews-slider__slide">
        <img
          class="reviews-slider__customer"
          src="./images/customer/customer-pic2-1x.png"
          alt="Second customer"
        />
        <div class="reviews-slider__review">
          <div class="reviews-slider__text-wrapper">
            <p class="reviews-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews-slider__name">Emily, Los Angeles</p>
      </div>
      <div class="reviews-slider__slide">
        <img
          class="reviews-slider__customer"
          src="./images/customer/customer-pic3-1x.png"
          alt="Third customer"
        />
        <div class="reviews-slider__review">
          <div class="reviews-slider__text-wrapper">
            <p class="reviews-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews-slider__name">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
