h2, h3, p {
    margin: 0%;
}

.is-hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.advantages {
    background-color: #FFF5F6;
    color: black;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
    }

 &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        text-transform: none;
        margin-bottom: 13px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        margin-bottom: 16px;
    }

    color: #D41443;
}
    &__item::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
       
        background-size: contain;
        background-repeat: no-repeat;

        transform: translateY(0);
        transition: transform 250ms linear;
       
        @media screen and (min-width: 768px) {
            margin-bottom: 36px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
        }
}

    &__item:first-child::before {
        background-image: url(../images/advantages-icon1-1x.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/advantages-icon1-2x.png);
            }
    }

    &__item:nth-child(2)::before {
        background-image: url(../images/advantages-icon2-1x.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/advantages-icon2-2x.png);
            }
    }

    &__item:last-child::before {
        background-image: url(../images/advantages-icon3-1x.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/advantages-icon3-2x.png);
            }
    }

    &__list {
        display: block;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 768px) {
            display: flex;
            width: 527px;
        }

        @media screen and (min-width: 1200px) {
            width: 1141px;
            justify-content: space-between;
        }
    }

    &__item {
        margin-bottom: 32px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
        @media screen and (min-width: 1200px) {
            width: 288px;

            &:hover::before,
            &:focus::before {
                transform: translateY(40px);
       } 
    }
    }

}