.footer {
    background-color: rgba(255, 245, 246, 1);
    
    &__box {
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
            }
    
            @media screen and (min-width: 1280px) {
                margin-bottom: 60px;
                align-items: center;
            }
        }
    &__text {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        color: #FFA5BA;
        max-width: 232px;
        margin-bottom: 16px;
    
        @media screen and (min-width: 768px) {
            margin-bottom: 12px;
            font-size: 26px;
            line-height: 1.15;
            letter-spacing: 0.04em;
            max-width: 340px;
        }
    
        @media screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 1.13;
            margin-bottom: 16px;
            max-width: 472px;
        }
    }
    &__main-text {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #D41443;
        max-width: 200px;
    
        @media screen and (min-width: 768px) {
            font-size: 48px;
            letter-spacing: 0.06em;
            max-width: 340px;
        }
    
        @media screen and (min-width: 1280px) {
            font-size: 58px;
            line-height: 1.14;
            max-width: 474px;
        }
    }
    
    &__title {
        margin-bottom: 40px;
    
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    
    &__list {
        padding-bottom: 40px;
        display: flex;
        justify-content: right;
    }
    
    &__item + &__item {
        margin-left: 28.24px;
    
        @media screen and (min-width: 768px) {
            margin-left: 30px;
        }
    
        @media screen and (min-width: 1280px) {
            margin-left: 24px;
        }
    }
    
    &__link {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(254, 165, 187, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        @media screen and (min-width: 768px) {
            width: 34px;
            height: 34px;
        }
        &:hover,
        &:focus {
            background-color: rgba(212, 20, 67, 1);
        }
    }
        
    &__icon-git {
        fill: #ffffff;
        @media screen and (min-width: 768px) {
            width: 20px;
            height: 20px;
        }
    }

    &__icon-tg {
        fill: #ffffff;
        @media screen and (min-width: 768px) {
            width: 20.4px;
            height: 15.87px;
        }
    }

    &__icon-fb {
        fill: #ffffff;
        @media screen and (min-width: 768px) {
            width: 9.35px;
            height: 20.4px;
        }
    }
    
    &__contact-text {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.86;
        text-align: right;
        color: #000000;
    
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    
        @media screen and (min-width: 1280px) {
            font-size: 16px;
            letter-spacing: 0.02em;
        }
    }
    
    &__tel {
        color: #D41443;
    }
    
    &__contacts {
        margin-bottom: 40px;
    
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    
    //fff//
    &__content::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 78px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(225, 225, 225, 1);    
        
        @media screen and (min-width: 768px) {
            bottom: 42px;
        }
    }
    
    &__copyright {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.52;
        text-align: center;
        color: #907E82;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    
        @media screen and (min-width: 768px) {
            line-height: 1.86;
            max-width: 276px;
            margin-bottom: 8px;
        }
    }
}